---
title: ¡Bienvenido!
description: Bienvenido a la plantilla de blog de inicio con Ruby, Middleman y TailwindCSS. Está configurada para facilitar la creación de blogs con archivos markdown y bloques de código, lo que la hace perfecta para un sitio personal o un blog.
---
<div class="flex flex-col space-y-6 text-lg">
  <h1 class="text-stone-900 text-7xl font-bold tracking-tighter mt-6 mb-4">
    Bienvenido al Blog de Inicio con Ruby, Middleman y TailwindCSS.
  </h1>
  <p>¡Bienvenido! Me encanta lo sencillo que es Middleman — lo he usado durante años para construir mi <a href="https://harrisonbroadbent.com/stack" target="_blank">sitio personal</a>, y finalmente decidí recopilar todo lo que he aprendido en una plantilla. ¡Te animo a que explores las páginas del <a href="/blog">blog</a> y <a href="/about">acerca de</a> para ver lo que puedes hacer con esta plantilla!</p>
  <p>Esta plantilla está configurada con lo siguiente:</p>
  <ul class="list-disc ml-6">
    <li><a href="https://middlemanapp.com/">Middleman</a>,</li>
    <li><a href="https://tailwindcss.com/">TailwindCSS</a>,</li>
    <li>Soporte para blogs mediante <a href="https://middlemanapp.com/basics/blogging/">middleman-blog</a> (<a href="/blog">ejemplo</a>)</li>
    <li>Procesamiento de Markdown mediante <a href="https://kramdown.gettalong.org/quickref.html">kramdown</a></li>
    <li>Resaltado de código mediante <a href="https://github.com/middleman/middleman-syntax">middleman-syntax</a> y <a href="https://github.com/rouge-ruby/rouge">Rouge</a> (<a href="/blog/blog-post-with-code">ejemplo</a>)</li>
    <li>Recarga en vivo durante el desarrollo mediante <a href="https://github.com/middleman/middleman-livereload">middleman-livereload</a></li>
    <li>Un sitemap.xml que se actualiza automáticamente</li>
  </ul>
  <p>Aprende más sobre las características de esta plantilla leyendo el <a href="/blog">blog</a> o en <a href="https://github.com/harrison-broadbent/ruby-middleman-tailwind-starter-blog">Github</a>.</p>
  <p>
    También te podría interesar <%= link_to(
                                "leer la documentación de Middleman",
                                "https://middlemanapp.com/basics/templating_language/",
                                target: "_blank",
                              ) %>
  </p>
</div>